
<style>
  .post{
    margin-left: 250px;
    width: 75%;
  }

  .new-status{
    margin-bottom: 100px;
  }
</style>

<div class="newsfeed post">
  <div class="input-group new-status">

    <input class="form-control width100 box"   [(ngModel)]="newStatus.post" [ngModelOptions]="{ standalone: true }"placeholder="New Status" >
    <button class="btn btn-success" (click)="postStatus(newStatus) ">Post</button>
    
    </div>
      <div *ngFor="let status of allStatus">
        <div class="row card">
              <h5 class="card-title">{{status.name}}</h5>
              <p class="card-text">{{status.post}}</p>
        </div>
        <br>
      </div> 

     
  </div>