
<nav class="navbar navbar-dark bg-dark img-responsive">
  
  <a href="#" class="navbar-brand">Facebook Mint</a>
</nav>


<div class="container mt-1 mb-1">
 
  <div class="row">
    
    <div class="col-md-3 mb-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/home.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ehsan</h5>
          <p class="card-text">Finally our project is over</p>
          
        </div>
      </div>
    </div>



    <div class="col-md-3 mb-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/home.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Taukir</h5>
          <p class="card-text">Research Time!</p>
          
        </div>
      </div>
    </div>



    <div class="col-md-3 mb-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/home.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sujon</h5>
          <p class="card-text">What a match!</p>
          
        </div>
      </div>
    </div>


    <div class="col-md-3 mb-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/home.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Siam</h5>
          <p class="card-text">MacBook ProMax</p>
          
        </div>
      </div>
    </div>
  </div>
</div>

