<nav class="navbar navbar-dark bg-dark img-responsive">

  <a href="#" class="navbar-brand">Facebook Mint</a>
  <span>
    <button class="btn btn-success mr-4">SignUp</button>
    <button class="btn btn-primary ml-4">Login</button>

  </span>
  

</nav>


<div class="container mt-1 mb-1">

  <div class="row">

    <div class="col-md-3 mb-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/home.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ehsan</h5>
          <p class="card-text">Finally our project is over</p>

        </div>
      </div>
    </div>



    <div class="col-md-3 mb-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/home.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Taukir</h5>
          <p class="card-text">Research Time!</p>

        </div>
      </div>
    </div>



    <div class="col-md-3 mb-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/home.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Sujon</h5>
          <p class="card-text">What a match!</p>

        </div>
      </div>
    </div>


    <div class="col-md-3 mb-1">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/images/home.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Siam</h5>
          <p class="card-text">MacBook ProMax</p>

        </div>
      </div>
    </div>
  </div>

</div>

<nav class="navbar navbar-dark bg-primary img-responsive">

  <a href="#" class="navbar-brand">Your Friends Posts</a>
</nav>

<div class="container mt-4">

  <div class="row">

    <div class="col-md-12 mb-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tauhidur Rahman</h5>
          <p class="card-text">
            After 4 wonderful years at UMass Amherst, I am joining the Halıcıoğlu Data Science Institute
            @HDSIUCSD
            at the University of California San Diego as an Tenure Track Assistant Professor. Now looking forward to new
            adventures in San Diego!</p>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Padmanabha Chowdhury</h5>
            <p class="card-text">
              Do you have a need, a need for speed-y map tile loads?
              We hope the answer is "yes!", because today we're thrilled to
              announce the launch of FeatureView assets, Earth Engine's newest
              data type for rapid rendering of vector datasets.
          </div>
        </div>
      </div>


    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Sartaz Ainan</h5>
            <p class="card-text">
              No matter how bad your day has passed, before you go to bed, 
              pray for those who have made your day a little better. 
              It gives a different peace of mind.
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Md. Tazbir Ur Rahman Bhuiyan</h5>
            <p class="card-text">
              Thank you, Allah, for the halal rijik.
              Thank you is not enough. I want to build beautiful software which will 
              help people. Before my life ends, May Allah grants me this small wish.
          </div>
        </div>
      </div>

    <div class="row">
      <div class="col-md-12 mb-1">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Microsoft</h5>
            <p class="card-text">
              Made my way to our Microsoft Dublin office during my recent vacation 
              had a wonderful time exploring and meeting some friendly faces!
          </div>
        </div>
      </div>

    
        </div>